@import "variables";
@import 'mixins';
.button {
  // // display: flex;
  // // justify-content: center;
  // // align-items: flex-end;
  // // align-self: center;
  :focus {
    border: 41 solid black;
    border-radius: $border-raduis;
  }
  outline: none;

  align-items: center; 
  align-self: center;
  align-content: center;
  border: none;
  width: 394px;
  height: 55;
  padding: 0.4rem;
  background-color: $base-color;
  border-radius: $border-raduis;
  font-size: 24px;
  color: $base-color-white;
  line-height: 30px;
  @include responsive($xs){
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: 14px;
    
  }
}

.outlineBtn {
  margin-bottom: 2rem;
  border-radius: $border-raduis+5;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  vertical-align: middle;
  background: white;
  width: 394px;
  border: 2px solid #888;
  
  white-space: nowrap;
  :hover {
    cursor: pointer;
  }
  .btnIcon {
    margin-right: 2rem;
    margin-left: 1rem;
    width: 30px;
    height: 42px;
    img {
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    
  }
  p {
    padding-top: .4rem;
    padding-left: 0;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #4285f4;
    text-align: center;
  }
  @include responsive($xs){
    display: flex;
  justify-content: space-evenly;
    margin:0%;
    margin-bottom: 5%;
    padding: 0;
    padding-bottom: 2%;
    width: 100%;
    height: 30px;
    p{
      font-size: 14px;
      text-align: center;
      padding-right: 10px;
    }
    .btnIcon {
      
      margin-right: 0;
      margin-left: 0;
      width: 30px;
      height: 20px;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
      
    }
  }
  @include responsive($lg){
    
  }
}
